body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(skyblue, purple);
}

li {
  margin: 50px;
  color: darkblue;
  font-size: 35px;
}

#content {
  border: inset steelblue 15px;
}

#oops {
  text-decoration: line-through black;
  text-decoration-thickness: 1px;
}

h1 {
  color: rgb(38, 0, 255);
  border: dotted gray 15px;
  padding: 20px;
  animation: blink 0.5s step-end infinite alternate;
}
h3 {
  color: blueviolet;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  margin: 20px;
}
@keyframes blink {
  50% {
    border-color: #2f00ff;
  }
}
